body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  color: #38bdf8;
}
